/* data play from API */
.product-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}
.product-item {
  width: 300px;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.product-image img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
}

.product-details h3 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.product-price {
  margin-top: 5px;
}

.product-category {
  margin-top: 5px;
  font-style: italic;
}

.product-description {
  margin-top: 10px;
}
.add-to-cart-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}
.add-to-cart-button:hover {
  background-color: #0056b3;
}
.card{
  margin-top: 80px;
}
@media screen and (max-width: 1199px) {
  .product-item {
    width: 250px;
  }
}

@media screen and (max-width: 991px) {
  .product-item {
    width: 220px;
  }
}

@media screen and (max-width: 767px) {
  .product-item {
    width: 100%;
    margin-top: 10px;
    margin-right: 0;
  }
}

@media screen and (max-width: 576px) {
  .product-item {
    padding: 15px;
    margin-bottom: 15px;
  }
}
